img{
    max-width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.moviePoster{
    transition: transform .2s;
}
.moviePoster:hover{
    transform: scale(1.1) rotate(2deg);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.movieBack{
    background-image: url('../../../public/milky-way-2695569__340.jpg');
    background-size: cover;
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
}
.hh{
    /* height: 70vh; */
    border-radius: 15px;
    background-color: white;
    position: relative;
    
}
.ss{
    position: absolute;
    top:5px;
    left: 5px;
    border-radius: 15px;
    text-decoration: none;
}
